 

 body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;


 }
 img{
     max-width: 100%;
 }
.jon-header{
    font-size: 25px;
    font-weight: 500px;

}
.jon-header span{
    display: inline-block;
    background: #6278df;
    color: #ffff;
    height: 35px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 3px;
}
 

 /* slider-section */
 .slider-section{
     background: url(img/mbr-10.jpg) no-repeat center center;
     padding: 200px 0;
     position: relative;
     z-index: 1;
 }
 .slider-section::after{
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
background:rgba(0,0,0,0.6 );
z-index: -1;
 }
 .slider-section4{
margin-bottom: 35px;
 }
 .slider-section h2{
     margin-bottom: 30px;
     font-size: 40px;
    border-radius: 10px;
 
    
 }

 /* about-section */
 .about-section{
     background: CBD2F3;
 }
 .about-texe-left{
     margin-top: 120px;
 }
 .about-texe-left.lead{
     font-size: 25px;
     line-height: 2.7rem;
 }
 /* feature-item  */
 .feature-item{
     height: 300px;
     box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3 );
 }
 .left-test-sec{
     width: 40%;
     overflow: hidden;
     border-radius: 5px 0 0 5px;
 }
 .left-test-sec{
     width: 60%;
     padding: 20pxpx;
 }
 .left-test-sec img{
height: 100%;
width: auto;
max-width: inherit;
position: relative;
left: 80px;



 }
/* protfolio-section */
.fortfolio-item{}
.fortfolio-item a{
    position: relative;
    display: block;
}
.fortfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(0, 21, 114, 0.9)  ;
    opacity: 0;
   
    visibility: hidden;
}
.fortfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}
/*pricing-tabal */
.pricing-item{
    background-color: #ffff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3 );
}
.pricing-item h1{}
.pricing-item h5{}
.pricing-item ul{ 
    list-style: none;
    margin-left: o;
    margin-right: 0;
    margin-bottom: 45px;
}
.pricing-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.pricing-item ul li span{
    color: royalblue;
    font-size: 25px;
    font-weight: bold;
    width: 40px;
    display:inline-block;
}
.pricing-item-botton{}
.pricing-item-botton a{
     border-color: #656565;
     border-width: 2px;
     color: #656565 ;
     padding: 14px 30px;
     font-size: 22px;
     .testimonial-secrion img{
         float: left: ;;
     }

     /* about-section */
     .content-form-div .card{ 
         box-shadow: rgba(0, 21, 114, 0.9);
     }